body{
    margin: 0;
}
.containerp-4{
    width: 100%;
    background-color: rgb(76, 54, 150);
    margin: 0px;
}
.img{
    margin-top: 50px;
    width: 60%;
}
.textbody{
  margin: 50px;
  width: 60%;
    color: white;
    font-size:larger;
    
}
.navbar{
  background-color: #4E3797;
  width: 100%;
  height: auto;
}
.nav-link{
  color: white;
  
}
.hh1{
  color:#4E3797;
}
.item{
  display: flex;
  margin-left: 40%;
  
}
.btn{
border-radius: 30%;
font-size: larger;
}
.btn:hover{
  background-color: #4E3797;
  color: white;
}
/* .list-unstyled{
margin-top: 10%;
} */
.divhader{
  display: flex;
  margin-right:60% ;
  margin-top: 5%;
}